@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  background-color: #010026;
  @apply text-white;
  hyphens: manual;
  font-size: 16px;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass2 {
  /* From https://css.glass */
  background: #010026;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.centerCase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footer-distributed h3 {
  color: #ffffff;
  font-size: 36px;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
}

.justify {
  text-align: justify !important;
  text-justify: inter-character !important;
  hyphens: manual !important;
}
